@page
@model IndexModel
@{
    ViewData["Title"] = "Scripting";
}
<h1>@ViewData["Title"]</h1>
<hr />
<h2>Sommaire</h2>
<ol class="round">
    <li class="one">
        <a href="/JavaScript/Index.html">JavaScript</a>
    </li>
    <li class="two">
        <a href="/jQuery/intro-jquery.html">Intro JQuery</a>
    </li>
    <li class="three">
        <a href="/jQuery/jquery.html">JQuery : exemples</a>
    </li>
    <li class="five">
        <p><a href="/jQuery/intro-ajax.html">Intro AJAX</a> avec l'objet <strong>XMLHTTPRequest</strong> (remplacé par l'api <a href="https://developer.mozilla.org/fr/docs/Web/API/Fetch_API" target="_blank">Fetch</a>)</p>
    </li>
	<li class="six">
		<a href="/JavaScript/api-fetch.html">API Fetch</a>
	</li>
</ol>


