@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1><a  href="/">Migration <mark>HTML 5</mark> <span class="anim">avec CSS 3 is fun !</span> </a></h1>
    <h2>Toutes les destinations au soleil !</h2>
    <p>Une sélection des meilleures offres de croisières, en fonction de la saison.</p>
    <div class="visuel">
        <img src="/images/voyages.jpg" alt="Voyage vers HTML 5 !" />
    </div>
</div>
