@page

<div>Je suis affiché partout</div>
<div class="medium">
    Je suis dans une fenêtre medium
</div>
<div class="large">
    Je suis dans une fenêtre large
</div>

@section  Styles {
    <link rel="stylesheet" href="~/css/media-queries.css"  />
}