@page
    <hgroup>
        <h1>Voyages 2020</h1>
        <h2>Découvrez notre dernière croisière en vidéo !</h2>
    </hgroup>
    <div class="visuel">

        <video controls>
            <source src="images/video.mp4" type="video/mp4" />
            Ce navigateur ne supporte pas la vidéo !
        </video>

    </div>
    <div class="presentation">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vestibulum interdum lectus eget auctor. Etiam scelerisque molestie viverra. Aenean fermentum magna at libero ultricies, non condimentum urna vehicula. Suspendisse non justo non mi convallis porta nec vitae nunc. Integer facilisis cursus dolor, eget interdum mauris vulputate eget. Donec condimentum, orci id semper feugiat, nibh ipsum dignissim sem, nec lobortis purus risus egestas augue. Suspendisse potenti. Maecenas adipiscing turpis a quam dictum, vel dapibus nisi hendrerit. Maecenas porttitor in metus nec bibendum. Ut congue leo nisi, a pharetra orci porta et.</p>

        <p>Mauris in rhoncus mi, et rutrum lectus. Aenean at elit sed tellus mollis tempus. Curabitur et porttitor tellus. Fusce condimentum suscipit orci ac dictum. Vivamus eu justo nulla. Sed a turpis quis mi porta vehicula eu id erat. Aliquam diam tortor, lacinia a volutpat id, dapibus quis orci. Aenean non risus sed nunc tincidunt faucibus nec ac risus. Sed vel sapien mauris. In tincidunt elementum metus eget convallis. Suspendisse volutpat aliquam egestas. Vestibulum ornare erat eget lacus lacinia bibendum.</p>

        <p>Morbi viverra mollis fringilla. Vivamus consequat lacus at diam sagittis, at condimentum magna viverra. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean sem enim, dapibus et bibendum ac, faucibus blandit lorem. Phasellus in consequat lacus, in aliquet est. Proin faucibus tempor lobortis. Sed sodales quam eget aliquam accumsan. Integer volutpat urna at orci faucibus placerat. Ut eget odio nisl. Sed interdum nisi eu porttitor ullamcorper. Integer libero sem, ultricies eu tortor vel, consectetur mattis est. Ut sem dui, tempor at ante ut, porta ornare erat. Vestibulum et cursus mauris. Aliquam ullamcorper, enim sit amet lacinia luctus, eros mi vehicula tellus, sit amet vehicula risus ligula nec dui. Maecenas condimentum nulla sed dui pulvinar, vel malesuada nunc faucibus. Aliquam mattis augue non fringilla congue.</p>
    </div>