@page
  <h1>Références</h1>
    <h2>HTML5</h2>
    <ul>
        <li><a href="http://www.w3.org/TR/html5-diff/" target="_blank">Nouveautés : W3</a></li>
        <li><a href="http://fr.wikipedia.org/wiki/HTML5" target="_blank">Nouveautés : Wikipedia</a></li>
        <li><a href="http://www.w3schools.com/tags" target="_blank">W3Schools : tags HTML (nouveau et obsolètes)</a></li>
        <li><a href="http://gsnedders.html5.org" target="_blank">HTML 5 Outliner</a></li>
    </ul>

    <h2>CSS3</h2>
    <ul>
        <li><a href="http://www.w3.org/Style/CSS/current-work" target="_blank">Spécifications W3C</a></li>
    </ul>

    <h1>Ressources</h1>

    <h2>Navigateurs</h2>
    <ul>
        <li><a href="http://www.horizonduweb.com/html5-introduction/" target="_blank">Présentation</a></li>
        <li><a href="http://caniuse.com/" target="_blank">Support des éléments par navigateur</a></li>
        <li><a href="http://www.quirksmode.org" target="_blank">Support des fonctionnalités par navigateur</a></li>
        <li><a href="https://miketaylr.com/code/input-type-attr.html" target="_blank">Support des fonctionnalités du navigateur en cours</a></li>
        <li><a href="https://docs.microsoft.com/en-us/microsoft-edge/" target="_blank">Documentation EDGE</a></li>
    </ul>

    <h2>CSS</h2>
    <ul>

        <li><a href="http://css-tricks.com/" target="_blank">Galerie d'exemples et de snippets CSS.</a></li>
        <li><a href="http://www.alsacreations.com/article/lire/930-css3-media-queries.html" target="_blank">Les média-queries CSS sur AlsaCreations</a></li>
        <li><a href="http://960.gs//" target="_blank">960 Grid System</a></li>
        <li><a href="https://speakerdeck.com/nathansmith/960-grid-system/" target="_blank">Slides 960 Grid System + Frameworks CSS</a></li>
        <li><a href="http://mediaqueriestest.com/" target="_blank">Media Queries : caractéristiques du navigateur</a></li>
        <li><a href="http://css3menu.com/" target="_blank">Menus CSS3</a></li>
    </ul>

    <details>
        <summary>Autres ressources</summary>

        <h2>Reset</h2>
        <ul>
            <li><a href="http://meyerweb.com/eric/tools/css/reset/" target="_blank">Meyer</a></li>
            <li><a href="http://html5boilerplate.com/" target="_blank">Boilerplate</a></li>
        </ul>

        <h2>Divers</h2>
        <ul>
            <li><a href="http://fr.lipsum.com/" target="_blank">Lorem Ipsum</a></li>
        </ul>
    </details>
