@{
    ViewData["Title"] = "Gestion d'événements";
}
<h1>@ViewData["Title"]</h1>

<h2>TP : version finale</h2>
<ol>
    <li>Un carousel Boostrap dans la vue Home/Index</li>
    <li>Un filtre LogException dans les Sces/App</li>
    <li>Paramétrage des Paths avec accès à la config par DI</li>
    <li>Gestion des participations aux événements (similaire aux intérêts)</li>
    <li>Enregistrement des intérêts gérés par session</li>
</ol>


