<h2>TP</h2>

@{
    ViewData["Title"] = "TP Gestion d'événements - Départ";
}
<h1>@ViewData["Title"]</h1>

<h2>Scénario TP</h2>
<ol>
    <li>Créer un projet MVC GestionEvenements avec Auth Comptes individuels.</li>
	<li>Renommer le contexte GevDbContext.</li>		
    <li>Ref du projet Lib "Modele" NET Standard 2.1 avec PN System.ComponentModel.Annotations (Passer éventuellement en NET6).</li>
	<li>Maj la Cs dans appsettings.json avec GestionEvenements</li>
	<li>Création de la base (SNP du contexte).</li>	
	<li>Générer le controlleur + vues avec EF des entités Participant et Evenement.</li>
	<li>Ajouter les éléments de menu pour atteindre ces vues.</li>	
    <li>Finaliser les vues avec affichage des civilités en liste dans les vues CU des Participants.</li>   	
	<li>Exercice : CRUD Adresses.</li>
</ol>

<p><strong>Remarque</strong> : La liste des types d'événements sera gérée plus tard dans les vues des Evénements.</p>



